NODE_ENV=development

PORT=3000

DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=agrocultivo_web
DB_USER=agrocultivo
DB_PASSWORD=

JWT_KEY=

QuickBooks__ClientId=
QuickBooks__ClientSecret=
QuickBooks__RedirectUri=

Megaprint__Usuario=
Megaprint__ApiKey=
Megaprint__TokenUrl=
Megaprint__FirmaUrl=
Megaprint__RegistroUrl=
Megaprint__DatosClienteUrl=
Megaprint__RetornarXmlUrl=
Megaprint__AnulacionUrl=